<h2>exercice-c1</h2>
<a href="assets/exercices/3-formulaires/exercice-c1.html" target="_blank">Enoncé</a>
<div>
    <h4>Exo: saisir l'adresse d'une image</h4>
    
    <form (ngSubmit)="adresseDeLImage = saisieUtilisateur" action="#" method="get">
        <input type="text" name="saisie" [(ngModel)]="saisieUtilisateur"><br>
        (ex: https://cdn.pixabay.com/photo/2014/10/22/18/04/freerider-498473_1280.jpg)
        <p>Saisie : {{saisieUtilisateur}}</p>
        <input type="submit" value="Valider" >
    </form>
    <img [src]="adresseDeLImage" width=300>
</div>