<h2>exercice-a6</h2> 
<p>Les filtres (_pipes_ en anglais)) sont des fonctions de transformation qui prennent une valeur en argument et qui retournent une valeur modifiée. Angular prévoit de pouvoir utiliser ces fonctions directement dans un template sur une valeur à afficher. Pour utiliser un filtre on écrit le symbole tube ou barre verticale (<kbd>|</kbd>) après une valeur entre accolades, suivi du nom du filtre.</p>
<p>Liste de bagnoles</p>
<ul>
  <li *ngFor="let bagnole of bagnoles">
    {{bagnole.modele | titlecase}} / 
    {{bagnole.puissance | uppercase}} / 
    {{bagnole.prix | currency: 'EUR' : 'symbol' }} / 
    {{bagnole.date | date:'fullDate'}}
  </li>
</ul>
