<h2> {{titreH2}} </h2>
<a href="assets/exercices/1-expressions/exercice-a0.html" target="_blank">Enoncé</a>
<h3>Présentation light d'Angular</h3>
<ul>
    <li><a href="assets/docs/1-Angular-Introduction.html" target="_blank">Introduction</a></li>
    <li><a href="assets/docs/2-Installation.html" target="_blank">Installation</a></li>
    <li><a href="assets/docs/3-Angular-CLI.html" target="_blank">CLI</a></li>
</ul>
<h4>Commandes CLI</h4>
<p><code>npm install -g @angular/cli</code><br>=> installe le CLI d'Angular (ai fait l'install avec css au lieu de scsscomme demandé, pas grave)</p>
<p><code>ng new exercices</code> <br>=> crée un projet 'exercices' </p>
<p><code>ng serve</code><br> => démarre le serveur</p>
<p><code>ng generate component exercices/1-expressions/exercice-a0 // raccourci ng n c
</code><br>=>crée un composant nommé `ExerciceA0Component` dans le dossier `src/app/exercices/1-expressions`</p>
<p><code>ng generate service mon-dossier/todo-service  // raccourci ng g s</code><br>=>crée un service nommé `TodoService` dans le dossier `src/app/mon-dossier`</p>
<p><code>ng generate module CustomerDashboard </code><br>=>crée un dossier nommé `customer-dashboard` sous `src/app/` contenant un fichier `customer-dashboard.module.ts` </p>

