<h2>exercice-d1</h2>
<div>
<code>ng generate service mon-dossier/mon-service</code>
<p>Une fois créé, le service peut être injecté dans un composant ou dans un autre service. <br>
    Il suffit de passer en argument du constructeur du composant une instance du service. Le composant a alors accès aux propriétés et méthodes publiques du service.</p>
</div>
<div>
    <p>Appel à un service pour gérér le contenu d'un compteur et son incrémentation</p>
    <p>Compteur : {{compteur}} </p>
    <button (click)="incrementer()">Incrémenter</button>
</div>