<h2>{{titreH2}}</h2>
<a href="assets/exercices/6-modules/exercice-f1.html" target="_blank">Enoncé</a>
<div>
    <ul>
        <li>Création d'un module `ExerciceModule` dans le dossiers exercices</li>
        <li>dans le module `ExercicesModule`, il faut déclarer et exporter les composants des exercices, ajouter l'import du module `FormModule` et ajouter dans `providers` le service `TodoService`</li>
        <li>dans le module `AppModule`, il faut supprimer les déclarations des composants des exercices et déclarer `ExerciceModule`</li>
    </ul>
</div>