<h2>exercice-b6</h2>
<div>
    <p>Lorsqu'on crée une liaison d'événement, sur un événement de souris par exemple, on peut récupérer l'événement DOM lui-même en paramètre en utilisant le mot-clé réservé `$event`. Ces événements DOM sont porteurs d'informations utilisables dans le composant.</p>
    <code>&lt;p (click)&#61;"gestionDuClic($event)"&gt;lorem ipsum</code>
    <p>Dans le code ci-dessus, la méthode de composant `gestionDuClic()` recevra en argument l'événement DOM de type [`MouseEvent`]</p>
</div>
<div>
    <h4>partie 1 : affichage du keycode du caractère saisie</h4>
    <input type="text" name="saisie" id="saisie" (keyup)="transcode($event)">
    <p>keyCode : {{saisie}} </p>
    <h4>partie 2: passer la souris dans le rectangle</h4>
    <div class='exo' (mousemove)="suivre($event.clientX, $event.clientY)">{{x}},{{y}} </div>
</div>