h1{
  background-color: black;
  padding: 10px 10px;
}
h2 {
  background-color: brown;
  padding: 10px 10px;
}
.container {
  display:flex;
  flex-direction: row;
}

div.menu {
  min-width: 40%;
}
div.exo {
  border-radius: 15px;
  background-color: blanchedalmond;
  color: brown;
  padding: 0px 20px;
  min-width: 35%;
  max-width: 55%;
  overflow: auto;
}


