<h3>Liste des exercices</h3>
<nav>
    <h4>Les expressions</h4>
    <ul>
        <li><a routerLink="/expressions/exo-a0" >Premiers pas: Exo a0</a></li>
        <li><a routerLink="/expressions/exo-a1" >Interpolations/expressions de template: Exo a1</a></li>
        <li><a routerLink="/expressions/exo-a2" >Interpolations/expressions de template: Exo a2</a></li>
        <li><a routerLink="/expressions/exo-a3" >Directive NgFor: Exo a3</a></li>
        <li><a routerLink="/expressions/exo-a4" >Directive NgModel: Exo a4</a></li>
        <li><a routerLink="/expressions/exo-a5" >Directive NgIf: Exo a5</a></li>
        <li><a routerLink="/expressions/exo-a6" >Filtres: Exo a6</a></li>
    </ul>
    <h4>Les propriétés et événements</h4>
    <ul>
        <li><a routerLink="/proprietes-evenements/exo-b1" >Liaison de propriété: Exo b1</a></li>
        <li><a routerLink="/proprietes-evenements/exo-b2" >Liaison d'événements: Exo b2</a></li>
        <li><a routerLink="/proprietes-evenements/exo-b3" >Liaison d'événements: Exo b3</a></li>
        <li><a routerLink="/proprietes-evenements/exo-b4" >Directive NgStyle: Exo b4</a></li>
        <li><a routerLink="/proprietes-evenements/exo-b5" >Références de template: Exo b5</a></li>
        <li><a routerLink="/proprietes-evenements/exo-b6" >Objet $event: Exo b6</a></li>
    </ul>
    <h4>Les formulaires</h4>
    <ul>
        <li><a routerLink="/formulaires/exo-c1" >NgModel et ngSubmit: Exo c1</a></li>
        <li><a routerLink="/formulaires/exo-c2" >NgModel et références de template: Exo c2</a></li>
    </ul>
    <h4>Les services</h4>
    <ul>
        <li><a routerLink="/services/exercice-d1" >Premier service: Exo d1</a></li>
        <li><a routerLink="/services/todo" >Exo d2 ToDo App</a></li>
    </ul>
</nav>