<h2>exercice-a5</h2>
<a href="assets/exercices/1-expressions/exercice-a5.html" target="_blank">Enoncé</a>
<form action="#">
  <select [(ngModel)]="couleur" name="couleur">
    <option value="1">bleu</option>
    <option value="2">blanc</option>
    <option value="3">rouge</option>
    <option value="4">bleu et blanc</option>
    <option value="5">bleu et rouge</option>
    <option value="6">rouge et blanc</option>
    <option value="7">bleu, blan et rouge</option>
  </select>
</form>
<div *ngIf="couleur == 1 || couleur == 4 || couleur == 5 || couleur == 7" class='bleu'></div>
<div *ngIf="couleur == 2 || couleur == 4 || couleur == 6 || couleur == 7" class='blanc'></div>
<div *ngIf="couleur == 3 || couleur == 5 || couleur == 6 || couleur == 7" class='rouge'></div>
