div {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50px;
  margin: 20px;
}
.bleu {
  background-color: deepskyblue;
}
.blanc {
  background-color: white;
}
.rouge {
  background-color: red;
}