<h2>{{titreH2}}</h2>
<a href="assets/exercices/5-routage/exercice-e1.html" target="_blank">Enoncé</a>
<div>
    <ul>
        <li>Création du composant `MenuComponent` sous le dossier `exercices/menu`. Le html de ce composant contient le routage de l'application: le chemin (path) vers un exercice est alimenté dans l'attribut `routeLink`</li>
        <li>ajout dans le module `AppRoutingModule` les correspondances entre les chemins et les composants des exercices</li>
        <li>déclaration de `MenuComponent` dans le module `AppModule`</li>
    </ul>
</div>